# ══════════════════════════════════════════════════════════════════════════════
# GenOS
# 해당 예제 코드는 GenOS 모델 서빙을 사용하므로 그에 필요한 환경 변수 값이 필요.
# GENOS_BEARER_TOKEN : GenOS 인증 키. (사용하려는 모델 서빙의 인증키)
# GENOS_URL : 사용하는 GenOS 주소
# GENOS_SERVING_ID : 호출하려는 모델 serving id. GenOS 모델 서빙에서 확인 가능
# GENOS_MODEL : 호출하려는 모델명
# ══════════════════════════════════════════════════════════════════════════════
GENOS_BEARER_TOKEN=
GENOS_URL=
GENOS_SERVING_ID=
GENOS_MODEL=

# ══════════════════════════════════════════════════════════════════════════════
# Langfuse
# 아래 3개의 값을 모두 넣어야 활성화 됨.
# 아래 값들은 사용하려는 langfuse 화면에서 확인 및 생성할 수 있음.
# ══════════════════════════════════════════════════════════════════════════════
LANGFUSE_HOST=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
